Pandas basic Usage

Data Structure

Series - mutable dictionary

In [3]:
from pandas import Series


series_default_index = Series([1, 2, 3, 4])
series_customized_index = Series(data=[1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
series_dictionary = Series({'a': 1, 'b': 2, 'c': 3, 'd': 4})

print(series_default_index)
print(series_customized_index)
print(series_dictionary)

0    1
1    2
2    3
3    4
dtype: int64
a    1
b    2
c    3
d    4
dtype: int64
a    1
b    2
c    3
d    4
dtype: int64

DataFrame - data table

In [4]:
from pandas import DataFrame


data = {'Chinese': [66, 95, 93, 90,80],'English': [65, 85, 92, 88, 90],'Math': [30, 98, 96, 77, 90]}
df1= DataFrame(data)
df2 = DataFrame(data, index=['ZhangFei', 'GuanYu', 'ZhaoYun', 'HuangZhong', 'DianWei'], columns=['English', 'Math', 'Chinese'])
print(df1)
print(df2)

   Chinese  English  Math
0       66       65    30
1       95       85    98
2       93       92    96
3       90       88    77
4       80       90    90
            English  Math  Chinese
ZhangFei         65    30       66
GuanYu           85    98       95
ZhaoYun          92    96       93
HuangZhong       88    77       90
DianWei          90    90       80

Data import & export

In [6]:
import pandas as pd
from pandas import DataFrame


data = DataFrame(pd.read_csv('data/active_user_data_province.csv'))
data.to_csv('data/active_user_data_province-copy.csv')
print(data)

     省份  新增用户  新增用户占比  活跃用户  活跃用户占比  启动次数  启动次数占比
0    广东   103   15.19   272   15.85  3590   15.30
1    浙江    54    7.96   126    7.34  1737    7.40
2    北京    50    7.37   110    6.41  3575   15.24
3    江苏    43    6.34   139    8.10  1101    4.69
4    上海    37    5.46    85    4.95   653    2.78
5    福建    36    5.31    91    5.30   808    3.44
6    山东    34    5.01    87    5.07   948    4.04
7    河南    34    5.01    70    4.08   417    1.78
8    辽宁    29    4.28    57    3.32  1108    4.72
9    河北    28    4.13    63    3.67  1264    5.39
10   安徽    25    3.69    68    3.96  1182    5.04
11   四川    24    3.54    94    5.48   740    3.15
12   广西    19    2.80    31    1.81   134    0.57
13   湖南    18    2.65    52    3.03   755    3.22
14   湖北    16    2.36    53    3.09  1741    7.42
15  黑龙江    16    2.36    25    1.46   122    0.52
16   陕西    15    2.21    36    2.10   346    1.47
17   重庆    14    2.06    34    1.98   391    1.67
18   江西    13    1.92    30    1.75   367    1.56
19   天津     9    1.33    40    2.33   550    2.34
20   贵州     9    1.33    30    1.75   753    3.21
21   新疆     8    1.18    10    0.58    78    0.33
22   吉林     7    1.03    15    0.87    50    0.21
23   云南     7    1.03    26    1.52   159    0.68
24   内蒙     6    0.88    12    0.70    40    0.17
25   山西     5    0.74    13    0.76    41    0.17
26   海南     4    0.59     9    0.52   298    1.27
27   宁夏     4    0.59     6    0.35    39    0.17
28   甘肃     4    0.59    14    0.82   118    0.50
29   西藏     2    0.29     2    0.12    20    0.09
30   青海     1    0.15     4    0.23   270    1.15
31   其他     4    0.59    12    0.70    70    0.30

Data Clean

Data clean problems

Delete DataFrame columns or rows

In [9]:
from pandas import DataFrame


data = {'Chinese': [66, 95, 93, 90,80],'English': [65, 85, 92, 88, 90],'Math': [30, 98, 96, 77, 90]}
df2 = DataFrame(data, index=['ZhangFei', 'GuanYu', 'ZhaoYun', 'HuangZhong', 'DianWei'], columns=['English', 'Math', 'Chinese'])


df2 = df2.drop(columns=['Chinese'])
df2 = df2.drop(index=['ZhangFei'])

print(df2)

            English  Math
GuanYu           85    98
ZhaoYun          92    96
HuangZhong       88    77
DianWei          90    90

Rename DataFrame columns name

In [10]:
from pandas import DataFrame


data = {'Chinese': [66, 95, 93, 90,80],'English': [65, 85, 92, 88, 90],'Math': [30, 98, 96, 77, 90]}
df2 = DataFrame(data, index=['ZhangFei', 'GuanYu', 'ZhaoYun', 'HuangZhong', 'DianWei'], columns=['English', 'Math', 'Chinese'])

df2.rename(columns={'Chinese': 'Mandarins', 'Math': 'Mathematics'}, inplace=True)
print(df2)

            English  Mathematics  Mandarins
ZhangFei         65           30         66
GuanYu           85           98         95
ZhaoYun          92           96         93
HuangZhong       88           77         90
DianWei          90           90         80

Drop duplicateds

In [12]:
from pandas import DataFrame


data = {'Chinese': [66, 95, 93, 90, 80, 80],'English': [65, 85, 92, 88, 90, 90],'Math': [30, 98, 96, 77, 90, 90]}
df2 = DataFrame(data, index=['ZhangFei', 'GuanYu', 'ZhaoYun', 'HuangZhong', 'DianWei', 'DianWei'], columns=['English', 'Math', 'Chinese'])
df2 = df2.drop_duplicates()
print(df2)

            English  Math  Chinese
ZhangFei         65    30       66
GuanYu           85    98       95
ZhaoYun          92    96       93
HuangZhong       88    77       90
DianWei          90    90       80

Data format

change data format

In [13]:
import numpy as np
from pandas import DataFrame


data = {'Chinese': [66, 95, 93, 90,80],'English': [65, 85, 92, 88, 90],'Math': [30, 98, 96, 77, 90]}
df2 = DataFrame(data, index=['ZhangFei', 'GuanYu', 'ZhaoYun', 'HuangZhong', 'DianWei'], columns=['English', 'Math', 'Chinese'])

df2['Chinese'].astype('str')
df2['Chinese'].astype(np.int64)

ZhangFei      66
GuanYu        95
ZhaoYun       93
HuangZhong    90
DianWei       80
Name: Chinese, dtype: int64

Strip space

In [18]:
from pandas import DataFrame


data = {'Chinese': ['66 ', ' 95', ' 93 ', '90$', '$80$'],'English': [65, 85, 92, 88, 90],'Math': [30, 98, 96, 77, 90]}
df2 = DataFrame(data, index=['ZhangFei', 'GuanYu', 'ZhaoYun', 'HuangZhong', 'DianWei'], columns=['English', 'Math', 'Chinese'])

#删除左右两边空格
df2['Chinese']=df2['Chinese'].map(str.strip)
#删除左边空格
df2['Chinese']=df2['Chinese'].map(str.lstrip)
#删除右边空格
df2['Chinese']=df2['Chinese'].map(str.rstrip)
#删除美元符号
df2['Chinese']=df2['Chinese'].str.strip('$')

UpperCase LowerCase CapCase

In [29]:
from pandas import DataFrame


data = {'Chinese': ['66 ', ' 95', ' 93 ', '90$', '$80$'],'English': [65, 85, 92, 88, 90],'Math': [30, 98, 96, 77, 90]}
df2 = DataFrame(data, index=['ZhangFei', 'GuanYu', 'ZhaoYun', 'HuangZhong', 'DianWei'], columns=['English', 'Math', 'Chinese'])



#全部大写
# df2.columns = df2.columns.str.upper()
#全部小写
# df2.columns = df2.columns.str.lower()
#首字母大写
df2.columns = df2.columns.str.title()

print(df2)

            English  Math Chinese
ZhangFei         65    30     66
GuanYu           85    98      95
ZhaoYun          92    96     93
HuangZhong       88    77     90$
DianWei          90    90    $80$

Finding NaN

In [21]:
import pandas as pd


data = {'Chinese': [66, 95, 93, 90, 80, 80], 'English': [65, 85, 92, 88, 90, 90],
        'Math': [None, 98, 96, 77, 90, 90]}
df = pd.DataFrame(data, index=['张飞', '关羽', '赵云', '黄忠', '典韦', '典韦'],
                  columns=['English', 'Math', 'Chinese'])

# df.isnull()
df.isnull().any()

English    False
Math        True
Chinese    False
dtype: bool

Using apply() clean data

In [33]:
import pandas as pd


data = {'name': ['ZhangFei', 'GuanYu', 'ZhaoYun', 'HuangZhong', 'DianWei', 'DianWei'], 'Chinese': [66, 95, 93, 90, 80, 80], 'English': [65, 85, 92, 88, 90, 90],
        'Math': [None, 98, 96, 77, 90, 90]}
df = pd.DataFrame(data, index=['张飞', '关羽', '赵云', '黄忠', '典韦', '典韦'],
                  columns=['name', 'English', 'Math', 'Chinese'])

# print(df)
df['name'] = df['name'].apply(str.upper)
print(df)

          name  English  Math  Chinese
张飞    ZHANGFEI       65   NaN       66
关羽      GUANYU       85  98.0       95
赵云     ZHAOYUN       92  96.0       93
黄忠  HUANGZHONG       88  77.0       90
典韦     DIANWEI       90  90.0       80
典韦     DIANWEI       90  90.0       80

In [35]:
import pandas as pd


data = {'name': ['ZhangFei', 'GuanYu', 'ZhaoYun', 'HuangZhong', 'DianWei', 'DianWei'], 'Chinese': [66, 95, 93, 90, 80, 80], 'English': [65, 85, 92, 88, 90, 90],
        'Math': [None, 98, 96, 77, 90, 90]}
df = pd.DataFrame(data, index=['张飞', '关羽', '赵云', '黄忠', '典韦', '典韦'],
                  columns=['name', 'English', 'Math', 'Chinese'])


def double_value(value):
    return value * 2


df['Math'] = df['Math'].apply(double_value)
print(df)

          name  English   Math  Chinese
张飞    ZhangFei       65    NaN       66
关羽      GuanYu       85  196.0       95
赵云     ZhaoYun       92  192.0       93
黄忠  HuangZhong       88  154.0       90
典韦     DianWei       90  180.0       80
典韦     DianWei       90  180.0       80

In [37]:
import pandas as pd


data = {'name': ['ZhangFei', 'GuanYu', 'ZhaoYun', 'HuangZhong', 'DianWei', 'DianWei'], 'Chinese': [66, 95, 93, 90, 80, 80], 'English': [65, 85, 92, 88, 90, 90],
        'Math': [None, 98, 96, 77, 90, 90]}
df = pd.DataFrame(data, index=['张飞', '关羽', '赵云', '黄忠', '典韦', '典韦'],
                  columns=['name', 'English', 'Math', 'Chinese'])


def plus(df,n,m):
    df['newColumns1'] = (df['Chinese']+df['English']) * m
    df['newColumns2'] = (df[u'Chinese']+df['English']) * n
    return df


df = df.apply(plus,axis=1,args=(2, 3,))

print(df)

          name  English  Math  Chinese  newColumns1  newColumns2
张飞    ZhangFei       65   NaN       66          393          262
关羽      GuanYu       85  98.0       95          540          360
赵云     ZhaoYun       92  96.0       93          555          370
黄忠  HuangZhong       88  77.0       90          534          356
典韦     DianWei       90  90.0       80          510          340
典韦     DianWei       90  90.0       80          510          340

Data statistics

In [38]:
import pandas as pd


data = {'name': ['ZhangFei', 'GuanYu', 'ZhaoYun', 'HuangZhong', 'DianWei', 'DianWei'], 'Chinese': [66, 95, 93, 90, 80, 80], 'English': [65, 85, 92, 88, 90, 90],
        'Math': [None, 98, 96, 77, 90, 90]}
df = pd.DataFrame(data, index=['张飞', '关羽', '赵云', '黄忠', '典韦', '典韦'],
                  columns=['name', 'English', 'Math', 'Chinese'])

df.describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>English</th>
      <th>Math</th>
      <th>Chinese</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>6.000000</td>
      <td>5.000000</td>
      <td>6.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>85.000000</td>
      <td>90.200000</td>
      <td>84.000000</td>
    </tr>
    <tr>
      <th>std</th>
      <td>10.079683</td>
      <td>8.197561</td>
      <td>10.899541</td>
    </tr>
    <tr>
      <th>min</th>
      <td>65.000000</td>
      <td>77.000000</td>
      <td>66.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>85.750000</td>
      <td>90.000000</td>
      <td>80.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>89.000000</td>
      <td>90.000000</td>
      <td>85.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>90.000000</td>
      <td>96.000000</td>
      <td>92.250000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>92.000000</td>
      <td>98.000000</td>
      <td>95.000000</td>
    </tr>
  </tbody>
</table>
</div>

Data Join

Join with columns name

In [39]:
import pandas as pd
from pandas import DataFrame


df1 = DataFrame({'name': ['ZhangFei', 'GuanYu', 'a', 'b', 'c'], 'data1': range(5)})
df2 = DataFrame({'name': ['ZhangFei', 'GuanYu', 'A', 'B', 'C'], 'data2': range(5)})

df3 = pd.merge(df1, df2, on='name')

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>data1</th>
      <th>data2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>ZhangFei</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>GuanYu</td>
      <td>1</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

Inner join

In [41]:
import pandas as pd
from pandas import DataFrame


df1 = DataFrame({'name': ['ZhangFei', 'GuanYu', 'a', 'b', 'c'], 'data1': range(5)})
df2 = DataFrame({'name': ['ZhangFei', 'GuanYu', 'A', 'B', 'C'], 'data2': range(5)})

df3 = pd.merge(df1, df2, how='inner')
print(df3)

       name  data1  data2
0  ZhangFei      0      0
1    GuanYu      1      1

Left Join

In [42]:
import pandas as pd
from pandas import DataFrame


df1 = DataFrame({'name': ['ZhangFei', 'GuanYu', 'a', 'b', 'c'], 'data1': range(5)})
df2 = DataFrame({'name': ['ZhangFei', 'GuanYu', 'A', 'B', 'C'], 'data2': range(5)})

df3 = pd.merge(df1, df2, how='left')
print(df3)

       name  data1  data2
0  ZhangFei      0    0.0
1    GuanYu      1    1.0
2         a      2    NaN
3         b      3    NaN
4         c      4    NaN

Right Join

In [43]:
import pandas as pd
from pandas import DataFrame


df1 = DataFrame({'name': ['ZhangFei', 'GuanYu', 'a', 'b', 'c'], 'data1': range(5)})
df2 = DataFrame({'name': ['ZhangFei', 'GuanYu', 'A', 'B', 'C'], 'data2': range(5)})

df3 = pd.merge(df1, df2, how='right')
print(df3)

       name  data1  data2
0  ZhangFei    0.0      0
1    GuanYu    1.0      1
2         A    NaN      2
3         B    NaN      3
4         C    NaN      4

Outter Join

In [44]:
import pandas as pd
from pandas import DataFrame


df1 = DataFrame({'name': ['ZhangFei', 'GuanYu', 'a', 'b', 'c'], 'data1': range(5)})
df2 = DataFrame({'name': ['ZhangFei', 'GuanYu', 'A', 'B', 'C'], 'data2': range(5)})

df3 = pd.merge(df1, df2, how='outer')
print(df3)

       name  data1  data2
0  ZhangFei    0.0    0.0
1    GuanYu    1.0    1.0
2         a    2.0    NaN
3         b    3.0    NaN
4         c    4.0    NaN
5         A    NaN    2.0
6         B    NaN    3.0
7         C    NaN    4.0

Pandas & SQL

In [45]:

import pandas as pd
from pandas import DataFrame
from pandasql import sqldf, load_meat, load_births
df1 = DataFrame({'name':['ZhangFei', 'GuanYu', 'a', 'b', 'c'], 'data1':range(5)})
pysqldf = lambda sql: sqldf(sql, globals())
sql = "select * from df1 where name ='ZhangFei'"
print(pysqldf(sql))

       name  data1
0  ZhangFei      0